<div class="pt-5 pb-5">
<div class="card columns {{status}}">
    <div class="card-image column">
        <figure class="image is-4by3">
            <img class="cardImg" [src]="image" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content column">
        <div class="media-content">
            <p class="title is-4 cardTxt">{{ name }}</p>
            <p class="subtitle is-6 cardTxt">{{ species }}</p>
            <p class="subtitle is-6 cardTxt">{{ status }}</p>
        </div>
    </div>
</div>
</div>